[Desktop Entry]
Encoding=UTF-8
Name=Fortune Cookie
Name[ml]=ലാത്തിയടി
Type=Service
ServiceTypes=Plasma/Applet
Icon=chronometer
X-Plasma-API=python
X-Plasma-MainScript=code/main.py
X-KDE-PluginInfo-Author=Ashik Salahudeen
X-KDE-PluginInfo-Email=aashiks@gmail.com
X-KDE-PluginInfo-Name=fortunecookie
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true